/* Content */

@font-face {
  font-family: 'Silka';
  src: url("./silka-regular.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Silka';
  src: url("./silka-semibold.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Silka';
  src: url("./silka-bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* Coding */

@font-face {
  font-family: 'SFMono';
  src: url("./SFMono-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SFMono';
  src: url("./SFMono-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

/* Experiment */

@font-face {
  font-family: 'Inter';
  src: url("./Inter.otf");
  font-style: normal;
}
