/* Content */

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Italic.ttf");
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans.ttf");
  font-style: normal;
  font-display: block;
}

/* Coding */

@font-face {
  font-family: "SF Mono";
  src: url("/fonts/SFMono-Medium.otf") format("otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Mono";
  src: url("/fonts/SFMono-Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* for _experiments page */

/* @font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.otf");
  font-style: normal;
  font-display: swap;
}
*/
