/* Body */

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Italic.ttf");
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans.ttf");
  font-style: normal;
  font-display: block;
}

/* Code */

@font-face {
  font-family: "Jet Brains Mono";
  src: url("/fonts/JetBrainsMono.ttf");
  font-style: normal;
  font-display: swap;
}

/* for _experiments page */

/* @font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.otf");
  font-style: normal;
  font-display: swap;
}
*/
